name: wukong_easy_sdk
description: A lightweight Flutter SDK for WuKongIM that enables real-time chat functionality in 5 minutes.
version: 1.0.2
homepage: https://github.com/WuKongIM/WuKongEasySDK-Flutter

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  web_socket_channel: ^3.0.0
  uuid: ^4.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  # This package is a Dart package, not a Flutter plugin
